<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsXmlGeneratorAsProcess" value="False"/>
		<add key="CountData" value="1000000"/>
		<add key="DataType" value="csv"/>
		<add key="XmlGeneratorFullPath" value="C:\Otus.Teaching.Concurrency.Import.DataGenerator.App\Otus.Teaching.Concurrency.Import.DataGenerator.App.exe"/>
		<add key="IsLoadDataPool" value="True"/>
		<add key="CountThreadsLoading" value="4"/>
		<add key="CountTriesLoading" value="5"/>
	</appSettings>
</configuration>
